<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mla.name %>
</p>

<p>
  <b>Description:</b>
  <%= @mla.description %>
</p>

<p>
  <b>Website:</b>
  <%= @mla.website %>
</p>

<p>
  <b>Facebook page:</b>
  <%= @mla.facebook_page %>
</p>

<p>
  <b>Constitution:</b>
  <%= @mla.constitution_id %>
</p>

<p>
  <b>Personal info:</b>
  <%= @mla.personal_info %>
</p>


<%= link_to 'Back', mlas_path %>
