<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ad.name %>
</p>

<p>
  <b>Description:</b>
  <%= @ad.description %>
</p>

<p>
  <b>Category:</b>
  <%= @ad.category %>
</p>

<p>
  <b>Website:</b>
  <%= @ad.website %>
</p>

<p>
  <b>District:</b>
  <%= @ad.district_id %>
</p>

<p>
  <b>Mandal:</b>
  <%= @ad.mandal_id %>
</p>

<p>
  <b>Constitution:</b>
  <%= @ad.constitution_id %>
</p>


<%= link_to 'Back', ads_path %>
