<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @office.name %>
</p>

<p>
  <b>Description:</b>
  <%= @office.description %>
</p>

<p>
  <b>Website:</b>
  <%= @office.website %>
</p>

<p>
  <b>Facebook page:</b>
  <%= @office.facebook_page %>
</p>

<p>
  <b>Ph no1:</b>
  <%= @office.ph_no1 %>
</p>

<p>
  <b>Ph no2:</b>
  <%= @office.ph_no2 %>
</p>

<p>
  <b>Address:</b>
  <%= @office.address %>
</p>


<%= link_to 'Back', offices_path %>
