<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mandal.name %>
</p>

<p>
  <b>District:</b>
  <%= @mandal.district_id %>
</p>

<p>
  <b>Description:</b>
  <%= @mandal.description %>
</p>

<p>
  <b>Website:</b>
  <%= @mandal.website %>
</p>

<p>
  <b>Facebook page:</b>
  <%= @mandal.facebook_page %>
</p>


<%= link_to 'Back', mandals_path %>
