<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mp.name %>
</p>

<p>
  <b>Description:</b>
  <%= @mp.description %>
</p>

<p>
  <b>Website:</b>
  <%= @mp.website %>
</p>

<p>
  <b>Facebook page:</b>
  <%= @mp.facebook_page %>
</p>

<p>
  <b>District:</b>
  <%= @mp.district_id %>
</p>

<p>
  <b>Personal info:</b>
  <%= @mp.personal_info %>
</p>


<%= link_to 'Back', mps_path %>
