<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @official_profile.name %>
</p>

<p>
  <b>Job position:</b>
  <%= @official_profile.job_position_id %>
</p>

<p>
  <b>Description:</b>
  <%= @official_profile.description %>
</p>


<%= link_to 'Back', official_profiles_path %>
