<h1>Listing tenders</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
    <th>Website</th>
    <th>Department</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tenders.each do |tender| %>
  <tr>
    <td><%= tender.name %></td>
    <td><%= tender.description %></td>
    <td><%= tender.category %></td>
    <td><%= tender.website %></td>
    <td><%= tender.department_id %></td>
    <td><%= link_to 'Show', tender %></td>
    <td><%= link_to 'Edit', edit_tender_path(tender) %></td>
    <td><%= link_to 'Destroy', tender, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tender', new_tender_path %>
