<p id="notice"><%= notice %></p>

<p>
  <b>District:</b>
  <%= @constitution.district_id %>
</p>

<p>
  <b>Name:</b>
  <%= @constitution.name %>
</p>

<p>
  <b>Description:</b>
  <%= @constitution.description %>
</p>

<p>
  <b>Website:</b>
  <%= @constitution.website %>
</p>


<%= link_to 'Back', constitutions_path %>
