<p id="notice"><%= notice %></p>

<p>
  <b>Minister:</b>
  <%= @department.minister_id %>
</p>

<p>
  <b>Name:</b>
  <%= @department.name %>
</p>

<p>
  <b>Description:</b>
  <%= @department.description %>
</p>

<p>
  <b>Website:</b>
  <%= @department.website %>
</p>

<p>
  <b>Category:</b>
  <%= @department.category %>
</p>


<%= link_to 'Back', departments_path %>
