<h1>Listing online_services</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
    <th>Website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @online_services.each do |online_service| %>
  <tr>
    <td><%= online_service.name %></td>
    <td><%= online_service.description %></td>
    <td><%= online_service.category %></td>
    <td><%= online_service.website %></td>
    <td><%= link_to 'Show', online_service %></td>
    <td><%= link_to 'Edit', edit_online_service_path(online_service) %></td>
    <td><%= link_to 'Destroy', online_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Online service', new_online_service_path %>
