<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @village.name %>
</p>

<p>
  <b>Description:</b>
  <%= @village.description %>
</p>

<p>
  <b>Facebook page:</b>
  <%= @village.facebook_page %>
</p>

<p>
  <b>Website:</b>
  <%= @village.website %>
</p>

<p>
  <b>Mandal:</b>
  <%= @village.mandal_id %>
</p>


<%= link_to 'Back', villages_path %>
