<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @state_cadre.name %>
</p>

<p>
  <b>Candiate name:</b>
  <%= @state_cadre.candiate_name %>
</p>

<p>
  <b>Description:</b>
  <%= @state_cadre.description %>
</p>

<p>
  <b>Ph no1:</b>
  <%= @state_cadre.ph_no1 %>
</p>

<p>
  <b>Ph no2:</b>
  <%= @state_cadre.ph_no2 %>
</p>


<%= link_to 'Back', state_cadres_path %>
