<!DOCTYPE HTML>
<!-- BEGIN html -->
<html lang = "en">
  <!-- BEGIN head -->
  
<!-- Mirrored from legatus.orange-themes.com/html/post.html by HTTrack Website Copier/3.x [XR&CO'2013], Sat, 15 Feb 2014 12:20:45 GMT -->
<head>
    <title>sirftelangana</title>
    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicn.ico" type="image/x-icon" />
    <!-- Stylesheets -->
    <link type="text/css" rel="stylesheet" href="css/reset.css" />
    <link type="text/css" rel="stylesheet" href="css/main-stylesheet.css" />
    <link type="text/css" rel="stylesheet" href="css/shortcode.css" />
    <link type="text/css" rel="stylesheet" href="css/fonts.css" />
    <link type="text/css" rel="stylesheet" href="css/retina.css" />
    <!--[if lte IE 8]>
    <link type="text/css" rel="stylesheet" href="css/ie-transparecy.css" />
    <![endif]-->
    <link type="text/css" id="style-responsive" rel="stylesheet" media="screen" href="css/responsive/desktop.css" />
    <!-- Scripts -->
    <script type="text/javascript" src="jscript/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
      var iPhoneVertical = Array(null,320,"css/responsive/phoneverticald41d.css?"+Date());
      var iPhoneHorizontal = Array(321,767,"css/responsive/phonehorizontald41d.css?"+Date());
      var iPad = Array(768,1000,"css/responsive/ipadd41d.css?"+Date());
      var dekstop = Array(1001,null,"css/responsive/desktopd41d.css?"+Date());
      
      // Legatus Slider Options
      var _legatus_slider_autostart = true; // Autostart Slider (false / true)
      var _legatus_slider_interval = 5000;  // Autoslide Interval (Def = 5000)
      var _legatus_slider_loading = true;   // Autoslide With Loading Bar (false / true)
    </script>
    <link type="text/css" rel="stylesheet" href="css/demo-settings.css" />
  <!-- END head -->
  </head>
  <!-- BEGIN body -->
  <body>
    <!-- BEGIN .boxed -->
    <!-- <div class="boxed active"> -->

      
    <!-- BEGIN .content -->
    <div class="content">
    
        <!-- BEGIN .wrapper -->
        <div class="wrapper">
            
          <!-- BEGIN .main-content-left -->
          <div class="main-content-left">

           
            
            <div class="content-article-title">
              <!--<h2>Latest News</h2>-->
              <div class="right-title-side">
                <a href="index-2.html"><span class="icon-text">&#8962;</span>Back To Homepage</a>
                
              </div>
            </div>
           
            <div class="slider-container">
              <h1 class="text-center"><%= @minister.candiate_name %></h1>
              <hr>
              <!-- BEGIN .slider-content -->
              <div class="slider-content">
                <ul>
                  <li>
                    <a href="post.html">
                      <span class="slider-info">click here</span>
                      <img src="<%= @minister.banner_url %>" width="680" height="250" class="setborder" alt="" />
                      </a>               
                   </li>
                   <li>
                    <a href="post.html">
                      <span class="slider-info">click here</span>
                      <img src="<%= @minister.banner_url %>" class="setborder" alt="" />
                      </a>                 
                    </li>
                
                  
                </ul>
              <!-- END .slider-content -->
              </div>


              <ul class="slider-controls"></ul>
              
              <!-- BEGIN .article-controls -->
              <div class="article-controls">

               <hr>

                <div class="right-side">
                  <div class="colored">
                    <a href="javascript:printArticle();" class="icon-link"><span class="icon-text">&#59158;</span>Print This Article</a>
                    <a href="#" class="icon-link"><span class="icon-text">&#59196;</span>Share it With Friends</a>
                  </div>

                  
                </div>

                <div class="clear-float"></div>

              <!-- END .article-controls -->
              </div>
              <hr>
              <!-- BEGIN .shortcode-content -->
              <div class="shortcode-content">
                <p>  <%= @minister.description %></p>
              <!-- END .shortcode-content -->
              </div>
            </div>

            <!-- BEGIN .main-nosplit --><!-- BEGIN .main-nosplit -->
         <div class="content-article-title">
              <h2>Related Articles OF Basavaraju Saraiah</h2>
              <div class="right-title-side">
                <a href="#top"><span class="icon-text">&#59231;</span>Scroll Back To Top</a>
                <a href="category.html"><span class="icon-text">&#128196;</span>More Articles</a>
              </div>
            </div>

            <div class="related-block">
              
              <!-- BEGIN .article-array -->
              <ul class="article-array">
                <li>
                  <a href="post.html">BASVARAJU SARIAH'S SPEECH IN ASSEMBLY</a><a href="post.html#comments" class="comment-icon">23</a>               </li>
                <li>
                  <a href="post.html">RECENT CHANGES DONE BY SARIAH AR IN HIS portfolio</a><a href="post.html#comments" class="comment-icon"><span class="icon-text">&#59160;</span>19</a>                </li>
                <li>
                  <a href="post.html">Agam eruditi appetere vix no, congue detraxit quaerend ad per intellegat quaerendum</a><a href="post.html#comments" class="comment-icon"><span class="icon-text">&#59160;</span>42</a>                </li>
                <li>
                  <a href="post.html">Vide erant debitis esse facer elitr mea modo</a><a href="post.html#comments" class="comment-icon"><span class="icon-text">&#59160;</span>8</a>                </li>
                <li>
                  <a href="post.html">Lorem ipsum dolor sit amet et dolor adolescens</a><a href="post.html#comments" class="comment-icon"><span class="icon-text">&#59160;</span>23</a>               </li>
                <li>
                  <a href="post.html">At legere iisque quo sit libris delectus an doctus delenit epicuri vel his dolorem dissentiunt ne</a><a href="post.html#comments" class="comment-icon"><span class="icon-text">&#59160;</span>19</a>                </li>
              <!-- END .article-array -->
              </ul>
              <div class="split-line"></div>

            </div>

            
            <div class="content-article-title">
              <h2>4 Comments ON BASVARAJU BY OTHER politicianS</h2>
              <div class="right-title-side">
                <a href="#top"><span class="icon-text">&#59231;</span>Scroll Back To Top</a>
                <a href="#writecomment"><span class="icon-text">&#9998;</span>Write Comment</a>
              </div>
            </div>

            <div class="comment-block">
              
              <ol class="comments">
                <li>
                  <div class="commment-content">
                    <div class="user-avatar">
                      <img src="images/no-avatar-60x60.jpg" class="setborder" alt="" title="" />
                    </div>
                    <strong class="user-nick"><a href="#">KCR</strong>
                    <span class="time-stamp">April 25, 12:53</span>
                    <div class="comment-text">
                      <p>Usu inani perfecto quaestio in, id usu paulo eruditi salutandi. In eros prompta dolores nec, ut pro causae conclusionemque. In pro elit mundi dicunt. No odio diam interpretaris pri.</p>
                    </div>
                    <a href="#" class="icon-link"><span class="icon-text">&#59154;</span><span>Reply to this comment</span></a>
                  </div>
                </li>
                <li>
                  <div class="commment-content">
                    <div class="user-avatar">
                      <img src="images/no-avatar-60x60.jpg" class="setborder" alt="" title="" />
                    </div>
                    <strong class="user-nick">KONDA SUREKHA</strong>
                    <span class="time-stamp">April 25, 12:53</span>
                    <div class="comment-text">
                      <p>Usu inani perfecto quaestio in, id usu paulo eruditi salutandi. In eros prompta dolores nec, ut pro causae conclusionemque. In pro elit mundi dicunt. No odio diam interpretaris pri.</p>
                    </div>
                    <a href="#" class="icon-link"><span class="icon-text">&#59154;</span><span>Reply to this comment</span></a>
                  </div>
                </li>
              </ol>

            </div>
            
            <div class="content-article-title">
              <h2>Write a complaint</h2>
              <div class="right-title-side">
                <a href="#top"><span class="icon-text">&#59231;</span>Scroll Back To Top</a>
              </div>
            </div>

            <div class="comment-form">
              <form action="#" method="post" id="writecomment">
                <p class="comment-notes">Your email address will not be published.<br/>Required fields are marked <span class="required">*</span></p>
                <p class="comment-form-author">
                  <label for="author">Nickname:<span class="required">*</span></label>
                  <input type="text" placeholder="My name" name="author" id="author" />
                </p>
                <p class="comment-form-email">
                  <label for="email">E-mail address:<span class="required">*</span></label>
                  <input class="error" placeholder="e.g. email@mail.me" type="text" name="email" id="email" />
                  <font class="comment-error"><span class="icon-text">&#9888;</span>ERROR: Field is Empty</font>
                </p>
                <p class="comment-form-url">
                  <label for="url">Your website:</label>
                  <input type="text" placeholder="www.website.com" name="url" id="url" />
                </p>
                <p class="comment-form-text">
                  <label for="comment">Comment:</label>
                  <textarea id="comment" placeholder="Your comment text.."></textarea>
                  <!-- <font class="comment-error textarea-error"><span class="icon-text">&#9888;</span>ERROR: Field is Empty</font> -->
                </p>
                <p class="form-submit">
                  <input name="submit" type="submit" id="submit" class="submit-button" value="Post a Comment" />
                </p>
              </form>

              <div class="split-line"></div>
            </div>
            
          <!-- END .main-content-left -->
          </div>
            
          <!-- BEGIN .main-content-right -->
          <div class="main-content-right">
            
            <!-- BEGIN .main-nosplit -->
            <div class="main-nosplit">
              
              <!-- BEGIN .banner -->
              <div class="banner">
                <div class="banner-block">
                  <a href="#"><img src="images/photos/logo.jpg" alt="" /></a>               </div>
          <div class="banner-info">
                  <a href="contact-us.html" class="sponsored"><span class="icon-default">&nbsp;</span>Sponsored Advert<span class="icon-default">&nbsp;</span></a>
                </div>
              <!-- END .banner -->
              </div>
              
            <!-- END .main-nosplit -->
            </div>

            
            <!-- BEGIN .main-content-split -->
            <div class="main-content-split">
              
              <!-- BEGIN .main-split-left -->
              <div class="main-split-left">
                
                <!-- END .panel -->
                <div class="panel">
                  <h3>Departments of<br><%= @minister.candiate_name %></h3>
                  <div>
                    <% @minister.departments.each do |deps|  %>

                      <!-- BEGIN .article-middle-block -->
                    <div class="article-middle-block">

                      <div class="article-photo">
                        <a href="#">
                          <img src="<%= deps.image_url %>" class="setborder" alt="" width="100" height="100"/>                       </a>                      </div>
                    
                      <div class="article-header">
                        <hr>
                        <h2><%= link_to deps.name ,deps %></h2>
                  
                      </div>
                      
                      
                    <!-- END .article-middle-block -->
                    </div>
                   <% end %>
                    
                    
                    
                    
                  </div>
                <!-- END .panel -->
                </div>

              <!-- END .main-split-left -->
              </div>
              
              <!-- BEGIN .main-split-right -->
              <div class="main-split-right">

                <!-- BEGIN .panel -->
                <div class="panel">
                
                  <h3>  Online Services     </h3>
                  <div>
                    
                    <ul class="category-list">
                      <li><span class="category-bull" style="background:#a21d1d;">&nbsp;</span><a href="category.html">MEE SEVA</a><span class="article-count">(101)</span></li>
                      <li><span class="category-bull" style="background:#338aa6;">&nbsp;</span><a href="category.html">PASSPORT SERVICES</a><span class="article-count">(93)</span></li>
                      <li><span class="category-bull" style="background:#9f3819;">&nbsp;</span><a href="category.html">TG TRASACTION SEARCH</a><span class="article-count">(66)</span></li>
                      <li><span class="category-bull" style="background:#6d8b13;">&nbsp;</span><a href="category.html">TGWOOD NEWS</a><span class="article-count">(40)</span></li>
                      <li><span class="category-bull" style="background:#cb50b5;">&nbsp;</span><a href="category.html">Political Satires</a><span class="article-count">(37)</span></li>
                      <li><span class="category-bull" style="background:#13168b;">&nbsp;</span><a href="category.html">Online Shopping</a><span class="article-count">(22)</span></li>
                      <li><span class="category-bull" style="background:#8b6d13;">&nbsp;</span><a href="category.html">Automotive</a><span class="article-count">(16)</span></li>
                    </ul>

                <!-- BEGIN .panel -->
                <div class="panel">
                  <h3> districts news</h3>
                  <div>
                    
                    <div class="panel-comment">
                      <div class="comment-header">
                        <b><a href="#">Vitali Seppel</a></b>
                      </div>
                      <div class="comment-content">
                        <p>Erant sapientem at usu, lorem aliquid scribentur id vel. Sed habeo gloriatur abhorreant ex, fabella accommodare ei.</p>
                      </div>
                      <div class="comment-links">
                        <a href="post.html#comments" class="comment-icon-link"><span class="icon-text">&#59160;</span>View in article</a>
                      </div>
                    </div>
                    
                    <div class="panel-comment">
                      <div class="comment-header">
                        <b>Rameshwar Svante</b>
                      </div>
                      <div class="comment-content">
                        <p>Ei vis cibo assueverit, erat salutatus ius ne.</p>
                      </div>
                      <div class="comment-links">
                        <a href="post.html#comments" class="comment-icon-link"><span class="icon-text">&#59160;</span>View in article</a>
                      </div>
                    </div>
                    
                    <div class="panel-comment">
                      <div class="comment-header">
                        <b><a href="#">Sohail Rhydderch</a></b>
                      </div>
                      <div class="comment-content">
                        <p>Timeam laboramus omittantur et mei, everti commodo id pri vulputate, insolens pericula.</p>
                      </div>
                      <div class="comment-links">
                        <a href="post.html#comments" class="comment-icon-link"><span class="icon-text">&#59160;</span>View in article</a>
                      </div>
                    </div>
                    
                    <div class="panel-comment">
                      <div class="comment-header">
                        <b><a href="#">Eduard Peter</a></b>
                      </div>
                      <div class="comment-content">
                        <p>Possim quaerendum usu id, an pro lorem affert, te audiam tri tani imperdiet eam.</p>
                      </div>
                      <div class="comment-links">
                        <a href="post.html#comments" class="comment-icon-link"><span class="icon-text">&#59160;</span>View in article</a>
                      </div>
                    </div>

                  </div>
                <!-- END .panel -->
                </div>

                <!-- BEGIN .panel -->
                <div class="panel">
                  <h3>online booking</h3>
                  <div>
                    
                    <div class="panel-gallery">
                      <div class="gallery-images">

                        <a href="#" class="gallery-navi-left icon-text">&#59229;</a>
                        <a href="#" class="gallery-navi-right icon-text">&#59230;</a>
                        <ul>
                          <li class="active"><a href="photo-gallery-single.html"><img src="images/photos/image-42.jpg" class="setborder" alt="" title="" /></a></li>
                          <li class="active"><a href="photo-gallery-single.html"><img src="images/photos/image-43.jpg" class="setborder" alt="" title="" /></a></li>
                          <li class="active"><a href="photo-gallery-single.html"><img src="images/photos/EasyMoviesLogo.jpg" class="setborder" alt="" title="" /></a></li>
                        </ul>
                        
                      </div>
                      <div class="gallery-header">
                        <b><a href="photo-gallery-single.html">BOOK MOVIE TICKETS HERE</a></b>
                      </div>
                    </div>
                    
                    <div class="panel-gallery">
                      <div class="gallery-images">

                        <a href="#" class="gallery-navi-left icon-text">&#59229;</a>
                        <a href="#" class="gallery-navi-right icon-text">&#59230;</a>
                        <ul>
                          <li class="active"><a href="photo-gallery-single.html"><img src="images/photos/image-43.jpg" class="setborder" alt="" title="" /></a></li>
                          <li class="active"><a href="photo-gallery-single.html"><img src="images/photos/image-44.jpg" class="setborder" alt="" title="" /></a></li>
                          <li class="active"><a href="photo-gallery-single.html"><img src="images/photos/i-ticket-e-ticket.jpg" class="setborder" alt="" title="" /></a></li>
                        </ul>
                        
                      </div>
                      <div class="gallery-header">
                        <b><a href="photo-gallery-single.html">WBOOK TRAN TATKAL TICKETS</a></b>                      </div>
                    </div>
                    
                    <div class="panel-gallery">
                      <div class="gallery-images">

                        <a href="#" class="gallery-navi-left icon-text">&#59229;</a>
                        <a href="#" class="gallery-navi-right icon-text">&#59230;</a>
                        <ul>
                          <li class="active"><a href="photo-gallery-single.html"><img src="images/photos/image-44.jpg" class="setborder" alt="" title="" /></a></li>
                          <li class="active"><a href="photo-gallery-single.html"><img src="images/photos/image-42.jpg" class="setborder" alt="" title="" /></a></li>
                          <li class="active"><a href="photo-gallery-single.html"><img src="images/photos/image-43.jpg" class="setborder" alt="" title="" /></a></li>
                        </ul>
                        
                      </div>
                      <div class="gallery-header">
                        <b><a href="photo-gallery-single.html">HOTELS</a></b>
                      </div>
                    </div>
                    
                  </div>
                <!-- END .panel -->
                </div>

              <!-- END .main-split-right -->
              </div>

            <!-- END .main-content-split -->
            </div>
            
            
          <!-- END .main-content-right -->
          </div>
          
          <div class="clear-float"></div>
          
        <!-- END .wrapper -->
        </div>
        
      <!-- BEGIN .content -->
      </div>
      
    
      
    <!-- END .boxed -->
    </div>
    <script type="text/javascript" src="jscript/orange-themes-responsive.js"></script>
    <script type="text/javascript" src="jscript/scripts.js"></script>
    <!-- For Demo Only -->
    <script type="text/javascript" src="jscript/jquery-ui.min.js"></script>
    <!--<script type="text/javascript" src="jscript/demo-settings.js"></script>-->
  <!-- END body -->
  </body>
<!-- END html -->

<!-- Mirrored from legatus.orange-themes.com/html/post.html by HTTrack Website Copier/3.x [XR&CO'2013], Sat, 15 Feb 2014 12:21:11 GMT -->
</html>


